.button_small {
  min-width: 120px;
  min-height: 40px;
  font-size: 18px;
}

.button_large {
  width: 300px;
  height: 100px;
  font-size: 28px;
}

.card {
  text-align: center;
  font-size: 20px;
}
