.ant-card-body {
  padding: 10px !important;
}

.order_row {
  margin-bottom: 10px;
  justify-content: space-between;
}

.items_row {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
