.tableStyle {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.cellStyle {
  padding: 0px 2px;
  border: 1px solid black;
  text-align: left;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
